@import url("https://use.typekit.net/jmk3xov.css");

body{
  background-color: #000000;
}

body::-webkit-scrollbar {
  background: #6649b8;
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

html {
  scroll-behavior: smooth;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(41 41 41 / 90%);
  --dark-navbar: rgba(41 41 41 / 99%);
  --spacing: 315px;
  --spacing_mobile: 225px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  display: flex;
  flex-direction: column-reverse;
}

.navparent {
  /* background-color: var(--dark-navbar); */
  
  position: fixed;
  height: 65px;
  width: 100%;
  bottom: 0;
  z-index: 120;
  left: 0px;
}

.navbar {
  padding: 5px 25px 0 25px  ;
  height: 65px;
  overflow: hidden;
  left: 0;
  /* height: 100vh; */
  background-color: var(--dark-navbar);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 50%);
}

.nav-item{
  /* width: 25%; */
  margin: 0%;
  /* flex-direction: row; */
  padding: 1em;

}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  /* height: 3rem; */

  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.imgsvg {
  color: aliceblue;
  width: 1.4rem;
  /* margin-left: 25%;
  margin-right: 25%; */
}

.linktext {
  margin-top: 0%;
  color: aliceblue;
}

main {
  top: 0;
  left: 0;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 20% auto;
  width: 100%;
  padding: 5px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header {
  background: var(--dark-bg);
  grid-column: 1 / span 4;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 85%;
  
}

section {
  position: relative;
  width: auto;
  padding: 1rem;
  margin: 2%;
  margin-bottom: var(--spacing_mobile);
  background: var(--dark-bg);
  font-size: 1.25rem;
  grid-column: 1 / span 4;
  line-height: 1.5;
}

.falseInput {
  border: solid;
  border-color: red;
}

blockquote {
  padding: 1em;
  grid-column: 2 / span 3;
  background: var(--dark-bg)

}

blockquote p {
  margin: 0;
}

blockquote:last-child {
  margin-bottom: 3.2rem;
}

.left {
  margin-bottom: 25%;
 
  /* background: green; */
}

.inputForm{
  display: flex;
  flex-direction: column;
}

input {
  height: 1.5rem;
  border: black;
  margin-bottom: 15px;
}

.fSubmitForm{
  height: 2.5rem;
  width: 50%;
  /* margin-top: 1.5rem;
  margin-left: auto;
  margin-bottom: .5rem; */
  margin: 1.5rem 0 .5rem auto;
}

.flexindiv {
  display: flex;
  flex-direction: column;
}

.imageWidth {
  width: 100%;
}

.circleButton{
  background: #f00;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  main {
    top: 0;
    color: white;
    z-index: 99;
    position: absolute;
    margin: 0px auto auto 5rem;
    width: auto;
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  
.navparent {
  /* background-color: var(--dark-navbar); */
  
  position: fixed;
  height: 100vh;
  width: 5rem;
  bottom: 0;
  z-index: 120;
  left: 0px;
}

.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px -2px 4px rgb(0 0 0 / 50%);
  }
  
  h1, h2, h3, blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  h3 {
    font-size: inherit;
  }

  header {
    grid-column: 5 / span 7;
    margin-bottom: 55%;
  }

  section {
    grid-column: 2 / span 7;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 3 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 2 / span 10;
  }

  body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }


  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .inDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  .inDiv2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  
  .fSubmitForm{
    width: 25%;
 
  }
}

